/* Tu CSS va aqui */

/*clases html*/
body{
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-size: 3em;
}
.logo{
	width: 200px;
	float: left;
}

li{
	display: inline-block;
	padding-left: 5%;
}

.bg-gray{
	background-color: gray;

}
.bg-gray-form{
	background-color: rgba(169,169,169, 0.3 );
	padding-left:5%; 
	margin-right:2%;
	border-radius:25px;
}

.boton1{
	width: 80%;
	padding: 1%;
	margin-bottom: 2%;
	background-color: #5AA7FF;
}
.boton1:hover{
	color: gray;
	background-color: #5AFFF2;
}

input{
	width: 80%;
	padding: 1%;
	margin-bottom: 2%;
}


